body, html {
  width: 100%;
  height: 100%;
  font-size: 0.875em;
  margin: 0;
  padding: 0;
  font-family: verdana;
  background: #cae2da;
}

.grid-container {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  width: 95%;
  /*max-width: 1000px;*/
  min-height: 1px;
  background: #f9f9f9;
}
.grid {
  background: #B5CBC4;
}
.grid-box {
  background: #71d161;
  opacity: 0.8;
  /*background: rgba(113, 209, 97, 0.5);*/
  cursor: default;
  cursor: move;
}
.grid-box-handle {
  background: #cccccc;
}

/* Draws Grid */
.helper-grid-container {
  /*background: none;*/
  width: 100%;
  height: 100%;
}
.horizontal-line,
.vertical-line {
  background: #cae2da;
  background: #B5CBC4;
  background: #f9f9f9;
}
.horizontal-hash-line,
.vertical-hash-line {
  background: red;
  opacity: 0.4;
  z-index: 9999;
}

.grid-centroid {
  position: absolute;
  background: red;
  width: 5px;
  height: 5px;
}

/**
* Grid Options
**/
.grid-options-container {
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  width: 95%;
  border: 5px solid #FFF;
  box-sizing: border-box;
  font-size: 1.3em;

  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.grid-options {
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 5px 20px 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: space-between;
      -ms-flex-direction: space-between;
          flex-direction: space-between;
  padding-right: 20px;
  box-sizing: border-box;
  border-right: 5px solid #FFF;
}
.grid-options:last-child {
  border: none;
}

h4 {
  text-align: center;
}

.grid-option {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  width: 50%;
}
.grid-option .label {
  margin-right: 10px;
}
.grid-option input {
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 0;
}

/**
* Box Options
**/
.box-options {
  background: #61d16d;
  /*background: rgba(113, 209, 97, 0.7);*/
  opacity: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.box-option {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 10px 0 10px;
  height: 50px;

}
.box-option .label {
  width: 20px;
  height: 20px;
  font-size: 1.3em;
}
.box-option input {
  font-size: 1.3em;
  width: 30px;
  height: 30px;
  border: none;
  text-align: center;
  margin: 0;
}

.box-id {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 2em;
}

.drag-handle {

}