.grid {
    position: absolute;
    /*top: 0;
    bottom: 0;
    left: 0;
    right: 0;*/
    width: 1200px;
    height: 800px;
    z-index: 1;
    margin: 0;
    padding: 0;
}
.grid-box {
    position: absolute;
    display: block;
    -webkit-user-select: none;
    box-sizing: border-box;
    z-index: 3;
    transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
}
.grid-box-handle {
  position: absolute;
  display: block;
}

.grid-shadow-box {
  position: absolute;
  display: none;
  background-color: #E8E8E8;
  border-color: #fff;
  opacity: 0.8;
  z-index: 3;
}
.shadow-box-dragging {
  background: red;
}
.grid-box-moving {
    z-index: 4;
}
.grid-shadow-box,
.grid-box-moving {
    transition: none;
}

/* Draw Grid */
.horizontal-line,
.vertical-line,
.horizontal-hash-line,
.vertical-hash-line {
  position: absolute;
}

.grid, .grid-box, .grid-shadow-box, .grid-box-moving {
   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
