body, html {
    width: 100%;
    height: 100%;
    font-size: 1.25em;
    margin: 0;
    padding: 0;
    font-family: arial;
    color: #444444;
}

.dashgridContainer {
    position: relative;
    /*top: 1%;*/
    /*margin: 0 auto;*/
    width: 100%;
    height: 100%;
    /*height: 800px;*/
    /*height: 800px;*/
}

.dashgridBox {
    background: #E1E1E1;
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 80%;
}

/**
 * Dashgrid relevant classes.
 */

.dashgrid {
    background: #F9F9F9;
}

.dashgrid-box {
    background: red;
}

.dashgrid-shadow-box {
    background-color: #E8E8E8;
    opacity: 0.5;
}

/**
 * GRID DRAW HELPERS.
 */
.dashgrid-horizontal-line,
.dashgrid-vertical-line {
    background: #FFFFFF;
}

.dashgrid-grid-centroid {
    background: #000000;
    width: 5px;
    height: 5px;
}

/**
 * Resize Handlers
 */
.dashgrid-box-resize-handle-s {}
.dashgrid-box-resize-handle-e {}
.dashgrid-box-resize-handle-w {}
.dashgrid-box-resize-handle-n {}
.dashgrid-box-resize-handle-ne {}
.dashgrid-box-resize-handle-nw {}
.dashgrid-box-resize-handle-sw {}
.dashgrid-box-resize-handle-se {}
